.logout-button {
    right: 15px !important;
    position: absolute !important;
}

.new-game-button {
    padding: 35px !important;
}

p {
    color: white;
    font-size: 32px;
}

h1 {
    color: white;
    font-size: 35px;
}

black-font {
    color: black;
}